<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Book Detail</title>

</head>
<body>
    <h1>welcome to Book {{ book.pk }} page</h1>
    <h2>Title of Book: {{ book.title }}</h2>
    <p>About the book: {{ book.description }}</p>
    <p>{{ book.isbn }}</p>
    <p>{{ book.date_published }}</p>

    <a href="{% url 'my_app:book-list' %}">Go back to list page</a>
</body>
</html>